.main-ahorcado{
    height: 89vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/* ************* PRIMER MENU - BTN SELECION DE CASILLAS***********/
.buttons-add-start{
    display: auto;
}
.button-start-game,.button-add-words{
    display: block;
    margin: 0 auto;
    /* box-sizing: border-box; */
    font-size: var(--btnFont);

}
.button-start-game{
    width: 250px;
    height: 80px;
    margin: 0 auto 50px;
    padding: px px;
    background-color: var(--colorBotonOscuro);
}
.button-start-game span{
    color: var(--colorTextoBotonOscuro);
}
.button-add-words{
    height:70px;
    margin: 0 auto 120px;
    padding: 20px 5px;
}
.button-add-words span{
    color: var(--colorBackground);
    font-weight: bold;
}

/* ********** SEGUNDO MENU - AGREGAR NUEVAS PALABRAS*********** */
.menu-add-words{
    display: none;
    margin: 0 auto 0;
    width: 500px;
    height: 80vh;
}
.container-default-words{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 30vh;
    gap: 17px;
}
.container-default-words p{
    margin: 0;
}
.word-element{
    padding: 4px 30px 4px 8px;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px var(--colorShadow);

    font-size: 1.2rem;
    cursor: default;

    color: var(--colorTextoBotonOscuro);
    background-color: var(--colorBotonOscuro);
    
}
.word-element-icon{
    position: absolute;
    right: 0;

    cursor: pointer;
    font-size: 1.7rem;
    color: teal;
}

.container-input-word{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    align-content: space-around;
    justify-content: center;
}
.input-word{
    width: 90%;
    margin: 0 auto 50px;
    padding: 10px 0 0;
    border-width: 0 0 1px 0;
    outline: none;
    
    font-size: 2rem;
    text-align: center;
    color: var(--colorTextoBotonOscuro);
    background-color: inherit;
}
.input-word::placeholder{
    font-size: var(--btnFont);
    text-align: center;
}
.button-save-word, .button-cancel{
    width: 200px;
    height: 50px;
    margin: 0 4px;
    
    font-size: var(--btnFont);
}
.button-save-word{
    background-color: var(--colorBotonOscuro);
    color: var(--colorTextoBotonOscuro);
}


/* ********** TERCER MENU - MENU DE JUEGO DE AHORCADO*********** */
.menu-start-game{
    display: none;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    outline: none;
    height: inherit;
}
.buttons-game-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 40px;
}
.buttons-game-container button{
    width: 250px;
    height: 50px;
    font-size: 1rem;
}
.button-new-game{
    background-color: var(--colorBotonOscuro);
    color: var(--colorTextoBotonOscuro);
}
.button-desist{
    background-color: var(--colorBotonClaro);
    color: var(--colorTextoBotonClaro);
    font-weight: bold;
}

#canvas{
    width: 1000px;
    margin: 0 auto;
}



@media(max-width: 992px){
    #canvas{
        width: 1100px;
        margin: 0 auto;
    }
}
@media(max-width: 820px){
    body{
        margin: 0 auto;
    }
    .main-ahorcado{
        display: flex;
        align-items: center;
    }
    #canvas{
        width: 1100px;
        /* width: 100%; */
    }
}
@media (max-width: 768px) {
    .buttons-game-container{
        gap: 15px;
    }
    .buttons-game-container button{
        width: 200px;
        height: 50px;
        font-size: 1rem;
    }
    #canvas{
        width: 1000px;
    }
    .btns-add-words{
        width: 60%;
    }
    .button-save-word, .button-cancel{
        width: 100%;
        margin-top: 20px;
    }
}

